<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
        <BR><BR>
        <%= link_to 'Sign up', new_user_registration_path, class: "button is-link is-rounded" %>
        <p>
          <strong>User:</strong>
          <%= @posts.first.user.name %>
        </p>
        <p>
          <strong>Calories earned:</strong>
          <%= @posts.first.calories_earned %>
        </p>
        <p>
          <strong>Calories lost:</strong>
          <%= @posts.first.calories_lost %>
        </p>
        <p>
          <strong>Text:</strong>
          <%= @posts.first.text %>
        </p>
        <p>
          <strong>Created at:</strong>
          <%= @posts.first.created_at.strftime('%D - %T') %>
        </p>

        <%= content_tag :div, "", id: "calories_chart", data: {posts: calories_char_data} %>

        <BR>                
        <p class="buttons">
          <%= link_to(share_path, class: "button") do %>
          <span class="icon">
              <i class="fas fa-share-alt"></i>
            </span>
            <span>Share</span>
          <% end %>
          <a class="button is-primary">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
            <span>Twitter</span>
          </a>
          <a class="button is-success">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
          </a>
          <a class="button is-danger is-outlined">
            <span>Delete</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </a>
        </p>

      </p>
    </div>
  </section>
  </body>
</html>