<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h2 class = "title is-2">Hi, <%= @user.name %> </h2>

<div class="buttons">
<%= link_to 'Add register', new_post_path, class: "button is-danger" %>
</div>

<h3 class = "title is-3">Your registers: (<%= @count %>) </h3>

<div class="row">
  <%= form_tag pages_path, method: :get do %>
    <%= label_tag(@search.date_from, "From: ") %>
    <%= date_field_tag 'search[date_from]', @search.date_from %>
    <%= label_tag(@search.date_from, "to: ") %>
    <%= date_field_tag 'search[date_to]', @search.date_to %>
    <%= label_tag(@search.text, "contains: ") %>
    <%= text_field_tag 'search[text]', @search.text %>
    <%= submit_tag "Search", class: "button is-primary is-rounded" %>
  <% end %>
</div>

<BR>

<table class="table">
  <thead>
    <tr>
      <th><abbr title="Calories earned">CE</abbr></th>
      <th><abbr title="Calories lost">CL</abbr></th>
      <th>Text</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.calories_earned %></td>
        <td><%= post.calories_lost %></td>
        <td><%= post.text %></td>
        <td><%= post.created_at.strftime('%d %B %Y - %T') %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @posts %>
<br>
<br>

<h3 class = "title is-3">Your daily records: <em class = "title is-6">Refresh (press F5) to show the graph</em></h3>
<%= #content_tag :div, "", id: "calories_chart", data: {posts: calories_char_data} 
1%>

<BR>
<div class="buttons">
  <%= link_to(share_path, class: "button") do %>
  <span class="icon">
      <i class="fas fa-share-alt"></i>
    </span>
    <span>Share</span>
  <% end %>
</div>

