<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <div class="notification is-danger">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
      
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    </div>
    <BR>
  <% end %>


  <div class="field">
    <%= form.label :calories_earned %>
    <%= form.text_field :calories_earned, id: :post_user_id %>
  </div>
  
  <div class="field">
    <%= form.label :calories_lost %>
    <%= form.text_field :calories_lost, id: :post_user_id %>
  </div>
  
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :post_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
