<h2 class = "title is-2">Register</h2>
<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Calories earned:</strong>
  <%= @post.calories_earned %>
</p>

<p>
  <strong>Calories lost:</strong>
  <%= @post.calories_lost %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @post.created_at.strftime('%d %B %Y - %T') %>
</p>
  
  
  


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', pages_path %>
