<nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href= <%= root_path %> >
          <img src="/assets/CALapp.png" width="100" height="35">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <%= link_to 'Registers', pages_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if current_user %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "button is-primary is-rounded" %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: "button is-primary is-rounded" %>
            <%= link_to 'Sign in', new_user_session_path, class: "button is-light" %>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</nav>


            